body {
  margin: 0;
  background-color: rgb(5, 1, 27)
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #0a0c10;
  
  
}

.navbar .navlinks a:hover {
  color: blue;
}

 .navbar .navlinks a {
  color: white
}

.logo {
  font-size: x-large;
  color: blue;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 30px;
  
}

.navlinks li a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

h1 {
    color: white;
    margin-top: 100px;
    margin-left: 70px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.skills-grid div {
    
    padding: 3em;
    text-align: center;
    border-radius: 50px;
    width: 200px;
    height: 250px;
    color: aliceblue;
    margin-left: 15px;
}




.html img:hover {
    transform: scale(1.1);
}
.html img {
    width: 200px;
}

.css img:hover {
   transform: scale(1.1); 
}
.css img {
    width: 200px;
}

.java img:hover {
    transform: scale(1.1);
}
.java img {
    width: 200px;
}

.python img:hover {
    transform: scale(1.1);
}
.python img {
    width: 200px;
}